body {
  font-family: "Google Sans", "Helvetica Neue", sans-serif;
 
}

/* Watermark styling */
.watermark {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  opacity: 0.1;
  font-size: 6rem;
  color: #d3d3d3;
  z-index: -1;
  pointer-events: none;
}

/* Question styling */
.question {
  background-color: #f0f9ff;
  border-left: 4px solid #3b82f6;
  padding: 10px;
  border-radius: 8px;
}

.question p {
  font-size: 1.1rem;
  margin-bottom: 6px;
  font-weight: bold;

}

.question ul {
  list-style: none;
  padding-left: 0;
}

.question ul li {
  margin-bottom: 4px;
  background-color: #e0f7ff;
  padding: 8px;
  border-radius: 4px;
}

#answers {
  padding: 8px 0;
}

/* Print-specific styles */
@media print {
  body * {
    visibility: hidden;
  }

  .container,
  .container * {
    visibility: visible;
  }

  .no-print {
    display: none;
  }

  .question {
    /* display: none; */
    page-break-inside: avoid;
    margin-top: 80px;
  }

  @page {
    margin-top: 0; /* Add some top margin for the header */
    margin-bottom: 0; /* Add some bottom margin */
  }

  /* Ensure header is repeated on every page */
  .container:before {
    content: "";
    display: block;

    height: 1.5cm;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    background-color: white;
    margin-top: 0px;
  }

  .watermark {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    opacity: 0.1;
    font-size: 6rem;
    color: #d3d3d3;
    z-index: -1;
    pointer-events: none;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
}
